/*
 *
 * CSS com estilos genÃ©ricos para todos os temas
 *
 * @Autores
 *
 * - Moisés de Aguiar Júnior
 * - Wellington Braga
 * - Victor Brosso Alvares
 *
 * @Referencias
 *
 * Lista de padrÃµes, convenÃ§Ãµes e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */

/*RESET*/
html, body, form, fieldset {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial;
}
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
    margin: 0;
    padding: 0;
}
li, dd, blockquote {
    margin-left: 1em;
}
form label {
    cursor: pointer;
}
fieldset {
    border: none;
}
input, select, textarea {
    font-size: 100%;
    font-family: inherit;
}
body{
  font-family:'Roboto', Arial;
  color: #424242;
}
.wrap{
  width: 1004px;
  margin: 0 auto;
}
.hiddenStructure, .searchSection{
  display:none;
}

/*HEADER*/
#portal-header #logoProcon{
  float:left;
  margin-bottom: 20px;
}
#portal-header #logoProcon a{
  float:left;
  width: 129px;
  height: 71px;
  background: url('../img/logo.png') no-repeat;
  text-indent: -9999px;
  margin:5px 0 0 0;
}
#portal-header .divBusca{
  float:left;
  padding: 0 0 0 180px;
}
#portal-searchbox .searchField{
  border:1px solid #868686;
  width: 215px;
  height: 28px;
  padding: 3px 0 0 5px;
  font-family: 'Roboto', Arial;
}
#portal-searchbox .searchButton{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url('../img/icoBusca.png') no-repeat #128a89 12px 8px;
  color: #fff;
  padding: 0px 18px 0 23px;
  border: none;
  height: 33px;
  margin: 0 0 0 5px;
  float: right;
  font-family: 'Roboto', Arial;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
  text-indent: -9999px;
}
#portal-header .logoNegocios{
  float:right;
  margin-bottom: 20px;
}
#portal-header .logoNegocios a{
  float:left;
  width: 148px;
  height: 60px;
  background: url('../img/logoNegocios.png') no-repeat;
  text-indent: -9999px;
  margin:5px 0 0 0;
}

/*MENU*/
#portal-header nav.menu{
  float: left;
  width: 100%;
  height: 48px;
  background: #f21c30;
}
#portal-header nav.menu li{
  display: inline;
  float:left;
  padding:15px 6px 15px 5px;
  margin: 0;
}
#portal-header nav.menu li a{
  color:#fff;
  font-family: 'Roboto', Arial;
  font-weight: 600;
  font-size: 0.9em;
  padding: 0 5px 0 5px;
}
#portal-header nav.menu li.subMenu{
  position:relative;
}
#portal-header nav.menu > li.active{
    background: #fff;
    color: #f21c30;
    margin: 5px 0 0 0;
    height: 31px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding:12px 15px 0 5px;
}
#portal-header nav.menu li.active a{
  color: #f21c30;
}
#portal-header nav.menu > li:hover{
    color: #f21c30;
    margin: 5px 0 0 0;
    height: 31px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding:12px 0px 0 5px;
}
#portal-header nav.menu li:hover a{
  color: #f21c30;
      background: #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding:7px 5px 15px 5px;
    width: auto;
    float:left;
    margin-top: -5px;
}

#portal-header nav.menu li.active a{
  color: #f21c30;
}
#portal-header .menuNivel li a::after{
  display:none !important;
  border-top: none;
}
#portal-header nav.menu li .menuNivel li a{
  color: #424242;
  padding: 8px;
  float:left;
  width: 194px;
  background:#ffd7d7;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
#portal-header nav.menu li .menuNivel li{
  width: 100%;
  margin:0;
  padding:0;
  min-height: 34px;
}
#portal-header nav.menu li .menuNivel li a:hover{
  color:#fff;
  background: #f21c30;
}
#portal-header nav.menu li .menuNivel{
  background: #ffd7d7;
  width: 210px;
  -webkit-box-shadow: 6px 7px 38px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 38px -11px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 38px -11px rgba(0,0,0,0.75);
  float: left;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  border-top: 1px solid #f21c30;
}
#portal-header nav.menu li.subMenu a::after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  margin:-3px 4px 0 5px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
#portal-header nav.menu li.subMenu.active a::after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  margin-top: 3px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f21c30;
}
/*INTERNAS*/
#content .wrap article .contentBody p .external-link,
#content .wrap article .contentBody p .internal-link {
  color: red;
  text-decoration: none;
  border-bottom: none;
}
#content .wrap article .contentBody p .external-link:hover,
#content .wrap article .contentBody p .internal-link:hover {
  color: red !important;
  cursor: pointer;
  text-decoration: underline;
}
#portal-columns{
}
#contentInterna{
  float: left;
  width: 710px;
}
.internaNoticias{
  float: right;
  width: 830px;
}
#portal-columns #contentInterna h1{
  color: #424242;
  font-family: 'Roboto', Arial;
  margin: 10px 0 0 0;
  letter-spacing: 0.005em;
  font-weight: 500;
}
#content p{
  font-size: 1.2em;
  color: #333;
}
#content .titPage{
  color: #424242;
  font-family: 'Roboto', Arial;
  margin: 30px 0 0 0;
  letter-spacing: 0.005em;
  font-weight: 500;
  font-size: 2.5em;
}
#content .wrap .contentBody h3{
 font-family: 'Roboto', Arial;
 font-size: 1.5em;
}
#content .wrap .contentBody p,
#content .wrap .contentBody .titLinhaFinaNot {
  font-family: 'Roboto', Arial;
}
#content .tituloNoticias{
  color: #424242;
  font-family: 'Roboto', Arial;
  margin: 20px 0 0 0;
  letter-spacing: 0.005em;
  font-weight: 600;
}
#content .subTitNoticias{
  color: #424242;
  font-family: 'Roboto', Arial;
  margin: 20px 0 0 0;
  letter-spacing: 0.005em;
  font-weight: 500;
  font-size: 1.4em;
}
#content .titLinhaFinaNot{
  color:#454545;
  font-size: 1.2em;
  padding: 20px 0 10px 0;
  font-weight: 500;
}
#content .noticias_media .autor{
  padding: 0 0 20px 0;
  color: #424242;
  font-family: 'Roboto', Arial;
}
#content .noticias_media time{
  color: #424242;
  font-family: 'Roboto', Arial;

}
#content .noticias_media .autor strong{
  font-weight: normal;
}
#content .noticias_media .imgNoticia{
  float: left;
  padding: 5px 15px 2px 0;
}
#content .noticias_media .legenda{
  color: #424242;
  font-family: 'Roboto', Arial;
  padding: 1px 0 3px 0;
  width: 230px;
  display: block;
}
#portal-columns #contentInterna p{
  padding: 15px 10px 0 0;
  font-family: 'Roboto', Arial ;
  color: #424242;
  font-size: 1em;
}
.blocoDuvidas{
  border: 1px solid #e8e8e8;
  padding: 10px;
  margin: 20px 0 0 0;
  width: 550px;
}
.blocoDuvidas .itensDuvidas{
  float: left;
  width: 600px;
}
.blocoDuvidas .itensDuvidas li{
  display: inline;
  list-style: none;
  float: left;
  min-height: 150px;
  width: 133px;
  margin: 0;
  padding: 0;
}
.blocoDuvidas .itensDuvidas li span{
  clear: both;
  display: block;
}
.blocoDuvidas .itensDuvidas li:hover{
  background-color:#ffd7d7;
}
.blocoDuvidas .itensDuvidas li a{
  color: #424342;
  float: left;
  padding: 0 0 0 0;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom: none !important;
}

/*SIDEBAR*/
#divSidebar{
  float: left;
  width: 270px;
  font-family: 'Roboto', Arial;
}
#divSidebar .noticiasTitulo{
  font-family: 'Roboto', Arial;
  font-size: 1.3em;
  font-weight: 500;
  color: #424242;
  margin:20px 0 0 0;
}
#divSidebar h2{
  font-family: 'Roboto', Arial;
  font-size: 1.5em;
  font-weight: 500;
  color: #424242;
  margin:20px 0 0 0;
}
#divSidebar .lstServicos{
  float: left;
  width: 100%;
  margin: 15px 0 0 0;
}
#divSidebar .lstServicos li{
  list-style: none;
  display: block;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
#divSidebar .lstServicos li.itemDuvidas{
  background: url(../img/icoTireDuvidas.png) no-repeat;
  padding: 16px 0 0 64px;
  height: 45px;
}
#divSidebar .lstServicos li.itemReclamacao{
  background: url(../img/icoFacaReclamacao.png) no-repeat;
  padding: 16px 0 0 64px;
  height: 45px;
}
#divSidebar .lstServicos li a{
  color:#128a89;
  font-family: 'Roboto', Arial;
  font-size: 1.3em;
  float: left;
  border-bottom: none;
}
#divSidebar .lstServicos li a:hover{
  color:#128a89 !important;
}
#divSidebar .lstNoticias .imgNoticia{
  margin:10px 0 0 0;
  padding: 5px 8px 0 0;
  float: left;
}
#divSidebar .lstNoticias time{
  float: left;
  padding: 10px 0 0 0;
  color: #454545;
}
#divSidebar .footerNoticias{
  float: left;
  clear: both;
  border-top: 1px solid #e8e8e8;
  width: 100%;
  margin: 10px 0 0 0;
}
#divSidebar .footerNoticias h3 a{
    margin: 20px 0 30px 45px;
    width: 170px;
    float: left;
    height: 30px;
    background: #f21c30;
    color: #fff;
    padding: 3px 0 1px 0;
    font-size: 0.8em;
    text-align: center;
    font-family: 'Roboto';
}
#divSidebar .footerNoticias h3 a:hover{
  color: #f21c30 !important;
  background: #ffd7d7;
}

#divSidebar .lstNoticias .itemNoticias{
  border-top: 1px solid #e8e8e8;
  float: left;
  margin: 10px 0 0 0;
}
#divSidebar .lstNoticias .titNotPortlet{
  color: #f21c30;
  font-family: 'Roboto';
  border-bottom: none !important;
  display: block;
}
#divSidebar .lstNoticias .titNotPortlet:hover{
  color: #f21c30 !important;
}
div.managePortletsLink, a.managePortletsFallback{
  background: none !important;
}
/*BREAD CRUMB*/
#portal-breadcrumbs{
  margin: 20px 0 0 0;
}
#portal-breadcrumbs a{
  color:#f21c30;
  font-family: 'Roboto', Arial;
  border-bottom: 1px solid #f21c30 !important;
}
#portal-breadcrumbs span{
  padding: 0 0 0 5px;
}
#portal-breadcrumbs span.breadcrumbSeparator{
  padding: 0 0 0 9px;
}
#portal-breadcrumbs{
  font-family: 'Roboto', Arial;
  color: #868686;
}
/*ACESSIBLIDADE*/
.acessibilidade{
  width:100%;
  float:right;
  height:40px;
  background: #fff;
}
span.linhaAcessibilidade{
  border-bottom:1px solid #e0e0e0;
  float:left;
  width: 100%;
  margin-bottom: 20px;
}
.acessibilidade span{
  float:right;
  font-family: Arial;
  font-size: 11px;
  margin:12px 0 0 0;
}
.acessibilidade ul{
  float:right;
  margin:5px 0 0 0;
  padding: 0;
}
.acessibilidade ul li{
  list-style: none;
  float: left;
  width:20px;
  height:20px;
  margin: 3px 5px 0 5px;
  text-align: center;
}
.acessibilidade ul li a{
  float: left;
  width:20px;
  height:20px;
  color: #000;
  text-decoration: none;
  font-family:Arial;
  font-weight: bold;
  font-size:19px;
}
.acessibilidade ul li a.icoDiminuir{
  font-size:14px;
  margin:3px 0 0 0;
}
.acessibilidade ul li a.icoContraste{
  background:url(../img/icoContraste.png) no-repeat 0 3px;
}

/*DESTAQUES HOME*/
#content h2{
  font-weight: 400;
  font-family: 'Roboto';
  color: #424242;
  font-size: 1.6em;
  padding: 0 0 10px 0;
}
.listaHome{
  float:left;
  background: #eee;
  width: 100%;
  margin-bottom: 35px;
}
.listaHome ul{
  width: 100%;
  float: left;
  margin: 20px 0 35px 0;
  margin-left: 0 !important;
}
.listaHome ul li{
  display: inline;
  width: 25%;
  float: left;
  margin: 0 0 0 0;
  padding: 20px 0 15px 0;
  position: relative;
  min-height: 220px;
  list-style: none;
}
#content .listaHome ul li a{
  text-align: center;
  float: left;
  color: #128a89;
  font-family: 'Roboto', Arial;
  font-size: 1.1em;
  width: 100%;
  background-position: 40px 0;
  border-bottom: none;
  padding: 230px 0 0 0;
  margin: -230px 0 0 0;
}
#content .listaHome ul li:hover a{
  color: #128a89 !important;
}

.listaHome ul li .item1{
  background:url(../img/icoRec.png) no-repeat center 50px #128a89;
    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 0 18px 30px;
}
.listaHome ul li .item2{
  background:url(../img/icoDuv.png) no-repeat center 50px #128a89;
    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 0 18px 30px;
}
.listaHome ul li .item3{
  background:url(../img/icoFund.png) no-repeat center 50px #128a89;
    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 0 18px 30px;
}
.listaHome ul li .item4{
  background:url(../img/icoDenuncia.png) no-repeat center 50px #128a89;
    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
  margin: 0 0 18px 30px;
}
.listaHome ul li:hover{
  background: #ffd7d7;
}
.destaqueHome{
  float:left;
  clear: both;
  width:625px;
  margin: 5px 0 35px 0;
}
.destaqueHome h2{
  color: #424242;
  font-size: 1.3em;
  font-weight: normal;
  font-family: 'Roboto', Arial;
  padding: 0 0 5px 0;
  margin: 0;
}
#content .destaqueHome h2 a{
  color:#e51139;
  font-size: 1.1em;
}
#content .destaqueHome .imag img{
  margin: 0;
  width: 236px;
}
#content .destaqueHome .imag img.left{
  float: left;
}
.destaqueHome .imgDestaque{
  float:left;
}
.destaqueHome .textoDestaque{
  float:left;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:none;
  height: 144px;
  width: 350px;
  padding: 15px;
}
.destaqueHome .textoDestaque h3{
  color:#e51139;
  font-family: 'Roboto', Arial;
  font-weight: 400;
  font-size: 1.3em;
}
#content .destaqueHome .textoDestaque p{
  color:#424242;
  font-family: 'Roboto', Arial;
  font-weight: normal;
  margin-bottom: 0;
}
#content .destaqueHome .textoDestaque a.lermais{
  color: #f21c30;
  text-decoration: none;
  margin: 5px 0 0 0;
  float: left;
  border-bottom: none;
  text-decoration: underline;
  font-family: 'Roboto', Arial;
}
.divAcesse{
  float:left;
  width: 300px;
  margin: 35px 0 35px 0;
  padding: 0 0 0 25px;
}
.divAcesse h2{
  color: #424242;
  font-size: 1.3em;
  font-weight: normal;
  font-family: 'Roboto', Arial;
  padding: 0 0 5px 0;
  margin: 0;
}
.divNoticias{
  background: #f21c30;
  width: 100%;
  float: left;
  clear: both;
  height: 89px;
}
.divNoticias h1{
    text-align: center;
    color: #fff;
    font-size: 1.7em;
    font-weight: 600;
    padding: 17px 0 17px 0;
    text-transform: uppercase;
}
#content .divNoticias a.verTodas{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    float: right;
    text-decoration: none;
    margin: -53px 0 0 0;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 600;
}
#content .divNoticias a.verTodas:hover{
  background: #ffd7d7;
  color: red !important;
}
.blocoNoticias{
  float:left;
  clear: both;
  margin: 0 0 20px 0;
}
.blocoNoticias > div{
  border-top: 1px solid #eee;
  margin:18px 0 0 0;
  padding: 18px 0 0 0;
}
#content .blocoNoticias div h2 a{
  color:#f21c30;
}
#content .blocoNoticias div h2 a:hover{
  color:#f21c30 !important;
}
.blocoNoticias > div time{
  color: #868686;
}
.blocoNoticias .noticiasColuna{
  float: left;
  width: 476px;
}
.blocoNoticias .noticiasColuna .imgNoticiasHome{
  margin:10px 0 0 0;
}
.blocoNoticias .noticiasColuna .data{
  color: #859597;
  font-size: 0.9em;
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}
.blocoNoticias .noticiasColuna h2 a{
  color: #e51139 !important;
  font-size: 1.1em;
  float: left;
  width: 100%;
  margin: 1px 0 0 0;
}
.blocoNoticias .noticiasColuna p{
  color:#424242;
  float: left;
  width: 100%;
}
.blocoNoticias .noticiasColuna time{
  margin:7px 0 3px 0;
  color: #859597;
  float: left;
}
/*ACCORDEON*/
.divAccordeon{
  margin: 15px 0 10px 0;
}
.divAccordeon h3{
  background: #128a89;
  margin: 1px 0 0 0;
  color: #fff;
  font-size: 1em;
  font-family: 'Roboto', Arial;
  padding: 8px 0 1px 10px;
  position: relative;
  cursor: pointer;
}
.divAccordeon h3 span p{
  color: #fff !important;
  padding: 3px 0 0 0;
  font-size: 1.3em !important;
}
.divAccordeon h3::after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  right: 0;
  top: 19px;
}
.divAccordeon h3.active{
  background: #ccc;
  color: #424242;
}
.divAccordeon h3.active:after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #424242;
  position: absolute;
  right: 0;
  top: 15px;
}
.divAccordeon p a{
  color: #f21c30;
}
/*BUSCA*/
.blocoBusca{
  border-top: 1px solid #e8e8e8;
  padding: 10px 0 0 15px;
  margin: 25px 0 0 0;
}
#content h1.documentFirstHeading{
  font-weight: normal;
}
#content h1.documentFirstHeading #search-term{
  text-decoration: underline;
}
#content h1.documentFirstHeading #search-term::before{
  content: '"';
}
#content h1.documentFirstHeading #search-term::after{
  content: '"';
}
#content h1.documentFirstHeading strong{
  font-weight: normal;
}
.blocoBusca .categoria{
  color: #868686;
  font-size: 0.9em;
  padding: 0 0 0 15px;
}
#content .blocoBusca .categoria p.parent{
  color:#868686;
  padding-right: 7px;
  margin-bottom: 3px;
}
.blocoBusca .categoria p span{
  color:#868686;
}
.blocoBusca .categoria p{
  float: left;
}
.blocoBusca .categoria span{
  float: left;
}
.blocoBusca .categoria span span{
  float: left;
}
#search-results-wrapper .blocoBusca dt{
  clear: both;
  display:block;
  background: none;
  padding: 0 0 0 0 !important;
}
#search-results-wrapper .blocoBusca dt a{
  color: #f21c30 !important;
  border-bottom: none;
  font-size: 1.7em;
  font-family: 'Roboto', Arial;
  padding: 4px 0 0 0;
  font-weight: 400;
}
#search-results-wrapper .blocoBusca dt a .highlightedSearchTerm{
  text-decoration: underline;
  font-weight: 400;
}
#portal-columns #contentInterna .blocoBusca p{
  color: #f21c30;
  font-size: 1.4em;
  padding: 4px 0 0 15px;
}
.blocoBusca .termo{
  text-decoration: underline;
}
#portal-columns #contentInterna p.agradece{
  font-weight: none;
  margin: 0px 0 20px 0;
  padding: 0 10px 0 0;
  font-size: 0.9em !important;
}
.divAccordeon .respostaUtil{
  border: none;
  background: url(../img/img-dot.gif) repeat-x top;
  margin: 30px 0 0 -12px;
  padding: 5px 12px 0 0;
}
.divAccordeon .respostaUtil legend{
  display: none;
}
.divAccordeon .respostaUtil label{
  font-weight: normal;
  font-size: 0.9em;
}
.divAccordeon .respostaUtil input{
  margin: 0 10px 0 10px;
}
.divAccordeon .respostaUtil span{
    margin: 0 18px 0 0;
}
.divAccordeon p.agradece strong{
  color: red;
  font-size: 0.9em !important;
}
.divAccordeon .textoAccordeon{
  padding:5px 0 15px 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.divAccordeon .textoAccordeon .agradece{
  display: none;
}
#content .divAccordeon .textoAccordeon form fieldset{
  border-top: none;
}
/* Pagination */
/* ---------------------------------------------------------- */

#pagination{
  float:left;
  width:100%;
  clear:left;
  margin:50px 0;
}

#pagination ul{
  margin:0;
  padding:0;
  text-align:center;
}

#pagination li{
  display:inline-block;
  margin: 0 0 0 5px;
}

#pagination li a{
  border:1px solid #128a89;
  background: #128a89;
  display:inline-block !important;
  padding:7px 13px;
  color: #fff;
}

#pagination li a:hover, #pagination li .current-pagination{
  border:1px solid #ccc;
  background:#fff;
  display:inline-block !important;
  color:#868686;
}
#pagination li a.btnPrev{
  background: url(../img/setaPagPrev.png) no-repeat 13px 12px #128a89 !important;
  text-indent: -9999px;
  padding-left:17px;
  padding-right:17px;
}
#pagination li a.btnNext{
  background: url(../img/setaPagNext.png) no-repeat 15px 12px #128a89 !important;
  text-indent: -9999px;
  padding-left:17px;
  padding-right:17px;
}

#pagination li a.last{
  border:0;
  display:inline-block;
  padding:10px 15px;
}

#pagination li a:hover.last{
  border:0;
  background:#fff;
  color:#000;
  display:inline-block;

}
/*FORMULARIO*/
.form-group{
    border-left: 101px solid #4bafa3;
    margin: 20px 0 30px 0;
    width: 779px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 30px 60px;
    position: relative;
    float: left;
    margin-left: -480px;
    left: 50%;
}
.form-group.active{
  background: #f5f5f5;
  border-left: 101px solid #f5f5f5;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}
.form-group.active:before{
    top: 12px;
    font-size: 2.8em;
    color: #424242;
    font-family: 'Roboto';
    font-weight: normal;
    border-right: 1px solid #ccc;
    height: 41px;
    padding: 26px 31px 0 0;
}
.form-group:before{
    content: '1';
    position: absolute;
    left: -60px;
    top: 34px;
    font-size: 2.8em;
    color: #fff;
    font-family: 'Roboto';
    font-weight: normal;
}
#content-core .discreet{
  padding: 90px 0 0 0;
}
.form-group .btnBuscar{
    margin-top: 20px;
    cursor: pointer;
    background: #f11c30;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 8px 5px 8px;
    display: inline;
    margin: 12px 0 0 3px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    width: 90px;
    height: 36px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 1.1em;
}
/*TOOLTIP*//
#archetypes-fieldname-area{
  position: relative;
}
.tooltip-area{
  position: absolute;
  width: 450px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
  left: -192px;
  top: 33px;
  background: #f5f5f5;
  padding: 15px 10px 10px 10px;
  display: none;
}
#content .tooltip-area .fechaTooltip{
  margin-top: 20px;
    cursor: pointer;
    color: #f11c30;
    text-transform: uppercase;
    padding: 3px 5px 3px 5px;
    display: inline;
    margin: 0px 0 0 -3px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    clear: both;
    float: left;
}
#content .tooltip-area .fechaTooltip:hover{
    color: red !important;
}
.divGeralTootltip{
  float: left;
  position: relative;
}
.tooltip-area:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 14px 14px;
  border-color: #f5f5f5 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -14px;
  left: 201px;
}
/*LIGHTBOX*/
.lightboxGeral{
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
}
.lightbox-div{
  z-index: 999;
  position: relative;
  margin: 0 auto;
  background: white;
  width: 70%;
  padding:20px 20px 50px 20px;
  color: #424242;
  font-size: 1.1em;
}
.divScrollLight{
  height: 450px;
  width: 100%;
  overflow: auto;
}
.lightbox-div p{
  color: #424242;
  text-align: left;
  font-size: 1.0em;
}
.lightbox-div h2{
  color: #424242;
  text-align: left;
}

.lightbox-div .fechaLightbox{
  margin-top: 20px;
    cursor: pointer;
    background: #f11c30;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 5px 3px 8px;
    display: inline;
    margin: 17px 0 0 9px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    clear: both;
    float: left;
    font-size: 0.8em;
    position: absolute;
    top: -8px;
    right: 14px;
}
.contentLightbox{
  float: left;
  clear: both;
  width: 100%;
  margin: 5px 0 5px 0;
  font-size: 1.2em;
  color: #424242;
}
#content a.linkLightbox{
  font-weight: 500;
  color: red !important;
  text-decoration: none;
  border-bottom: none !important;
}
#content a.linkLightbox:hover{
  text-decoration: underline;
  color: red !important;
}
.contentLightbox input{
  display: inline;
  margin: -3px 5px 0 0;
  float: left;
}
#content .formDuvidas #area{
  float:left;
}
#content .formDuvidas .btnTooltip{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: red;
  color: white;
  width: 11px;
  height: 15px;
  padding: 3px 3px 3px 7px;
  margin: 0 0 0 12px;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.2em;
  font-weight: bold;
}
#content .formDuvidas .btnTooltip:hover{
  color: white !important;
}
.form-group .btnBuscar.disabled{
  opacity: 0.5;
  cursor: auto;
}
.form-group input{
  border: 1px solid #ccc;
  height: 32px;
  padding: 3px 0 0 5px;
  width: 50%;
  float: left;
  margin: 12px 0 0 0;
  font-size: 1.3em;
  font-family: 'Roboto';
}
.pfg-form.formid-formularios{
    border-left: 101px solid #4bafa3;
    margin: 0 0 30px 0;
    width: 779px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 0 30px 60px;
    position: relative;
    float: left;
    margin-left: -480px;
    left: 50%;
    clear: both;
}
.pfg-form formid-formularios form{
  float: left;
}
.pfg-form.formid-formularios:before{
    content: '2';
    position: absolute;
    left: -60px;
    top: 36px;
    font-size: 2.8em;
    color: #fff;
    font-family: 'Roboto';
    font-weight: normal;
}
.pfg-form.formid-formularios input{
  border: 1px solid #ccc;
  height: 25px;
  padding: 3px 0 0 5px;
}
.pfg-form.formid-formularios input[type=radio]{
  float: left;
  clear: both;
}
.pfg-form.formid-formularios input[type=submit]{
  margin-top: 20px;
  cursor: pointer;
  background: #f11c30;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 8px 5px 8px;
  display: inline;
  margin: 15px 0 0 -15px;
  border: none;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
clear: both;
float: left
}
.pfg-form.formid-formularios textarea{
  width: 70% !important;
  float: left;
}
.pfg-form.formid-formularios .ArchetypesFileWidget{
  float: left;
  margin-top: 20px;
}
.pfg-form.formid-formularios input[type=file]{
  border: none;
  text-transform: uppercase;
}
.pfg-form.formid-formularios .ArchetypesBooleanWidget{
  margin-top: 10px;
  float: left;
}
.pfg-form.formid-formularios .ArchetypesBooleanWidget input{
  float: left;
}
.pfg-form.formid-formularios .ArchetypesBooleanWidget label{
  float: left;
  padding: 3px 0 0 5px;
}
.pfg-form.formid-formularios #genero label{
  float: left;
  padding: 3px 0 0 8px;
}
.pfg-form.formid-formularios #deseja-informar-a-empresa label{
  float: left;
  padding: 3px 0 0 8px;
}
.pfg-form.formid-formularios .field{
  margin-top: 25px;
}
.pfg-form.formid-formularios select{
  height: 30px;
  background: #fff;
  padding: 3px;
  border: 1px solid #ccc;
}
.pfg-form.formid-formularios .label, .pfg-form.formid-formularios label{
  color: #424242;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.2em;
}
.pfg-form.formid-formularios span.required:after{
  content:'*';
  color: #454545;
  margin: 0 0 0 -8px;
}
.ui-widget-content{
  border:1px solid #128a89 !important;
}
.ui-menu .ui-menu-item.ui-state-focus{
  background: #128a89 !important;
}
.ui-menu .ui-menu-item.ui-state-focus a{
  color: #fff !important;
}
.ui-state-highlight{
  text-decoration: underline;
}
.divRedireciona{
    border-left: 101px solid #4bafa3;
    margin: 0 0 30px 0;
    width: 779px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 30px 60px;
    position: relative;
    float: left;
    margin-left: -480px;
    left: 50%;
    clear: both;
    display: none;
}
#content .divRedireciona p{
  color: #414141
}
#content .divRedireciona p strong{
  font-weight: 600;
}
.divRedireciona:before {
    content: '2';
    position: absolute;
    left: -60px;
    top: 34px;
    font-size: 2.8em;
    color: #fff;
    font-family: 'Roboto';
    font-weight: normal;
}
.divRedireciona .linkRedireciona{
  background: #f11c30;
  color: #fff !important;
  text-align: center;
  width: 178px;
  height: 37px;
  line-height: 1.2em;
  display: block;
  margin: 0 auto;
  padding: 7px 0 0 0;
}
#content .divRedireciona .linkRedireciona:hover{
  color: #fff !important;
  text-decoration: underline;
}
.divRedireciona .imgSeta{
  background: url(../img/imgSetaConsumidor.png) no-repeat;
  width: 28px;
  height: 33px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.divRedireciona .imgConsumidor{
  background: url(../img/imgBannerConsumidor.png) no-repeat;
  display: block;
  width: 340px;
  height: 70px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 30px;
}
.divProtocolo{
  width: 330px;
  margin: 0 auto;
}
.divRedireciona .btnProsseguir{
    margin-top: 20px;
    cursor: pointer;
    background: #f11c30;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 8px 5px 8px;
    display: inline;
    margin: 12px 0 0 3px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    width: 90px;
    height: 36px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 1.1em;
}
.divRedireciona .inputProtocolo{
    border: 1px solid #ccc;
    height: 32px;
    padding: 3px 0 0 5px;
    width: 212px;
    float: left;
    margin: 12px 0 0 0;
    font-size: 1.3em;
    font-family: 'Roboto';
}
/*Página de Login*/
#content #login-form{
  text-align: left;
  margin-left: 160px;
}
#content #login-form h2{
  font-size: 3em;
  margin-top: 80px;
  margin-bottom: 20px;
}
#content #login-form .field label{
  text-align: left;
  margin-right: 0;
  margin-bottom: 5px;
  width: 5em;
  display: block;
  font-size: 1.3em;
  font-weight: normal;
}
#content #login-form .field label input{
  margin-top: 5px;
}
#content #login-form .discreet{
  padding: 0;
  color: #f21c30;
}
#content #login-form .discreet span a{
  color: #f21c30;
  border:0;
  font-size: 1.3em;
  font-weight: bold;
}
#content #login-form .discreet span a:hover{
  color: #f21c30 !important;
}
#content #login-form .formControls{
  margin-left: 0;
}
#content #login-form .formControls input{
  margin-left: 0;
  font-size: 1em;
  padding: 10px 15px;
  color: #fff;
  background: #f21c30;
  font-family: 'Roboto';
  font-weight: bold;
  border: none;
  cursor: pointer;
}
/*FOOTER*/
#footer{
  float:left;
  clear: both;
  width: 100%;
  background: #3a3a3a;
}
#footer .logoFooter a{
  background:url(../img/logoFooter.png) no-repeat;
  float: left;
  width: 169px;
  height: 59px;
  margin: 28px 0 0 0;
}
#footer .textoFooter{
  float:left;
  width: 315px;
  color: #868686;
  font-size: 0.9em;
  margin: 0 0 0 70px;
  padding: 28px 0 30px 0;
}
#footer .footerBottom{
  float:left;
  clear: both;
  width: 100%;
  background: #303030;
  height: 54px;
}
#footer .footerBottom p.copyright{
  float: left;
  width: 58%;
  color:#999999;
  margin:10px 0 0 0;
  font-size: 0.8em;
}
#footer .footerBottom p.copyright a{
  text-decoration: underline;
  color: #999;
}
#footer .footerBottom .logoGrx{
  float:right;
  width: 60px;
  height: 40px;
  background:url(../img/logoGrx.png) no-repeat;
  margin:5px 0 0 0;
  padding: 0 20px 0 0;
}
#footer .footerBottom .divProdam{
  float: right;
  width: 210px;
  padding: 0;
}
#footer .footerBottom .divProdam p{
  color:#999999;
  font-size: 0.7em;
  margin: 15px 0 0 0;
  float: left;
  text-align: right;
}
#footer .footerBottom .divProdam .logoProdam a{
  background:url(../img/logoProdam.png) no-repeat;
  width: 95px;
  height: 33px;
  margin: 12px 0 0 10px;
  float: left;
}
#footer .menuFooter{
  float: left;
  width: 100%;
  border-bottom: 1px solid #868686;
  padding: 0 0 20px 0;
  margin: 0 0 0 0;
  letter-spacing: 0.01em;
}
#footer .menuFooter > ul > li a, #footer .menuFooter > ul > li > ul > li a{
  color:#868686;
  font-family: 'Roboto';
  font-size: 0.9em;
}
#footer .menuFooter > ul > li.tituloMenu a, #footer .menuFooter > ul > li > ul > li.tituloMenu a{
  font-size:0.9em;
  font-weight: 600;
}
#footer .menuFooter > ul > li a:hover, #footer .menuFooter > ul > li > ul > li a:hover{
  color: #fff
}
#footer .menuFooter > ul{
  width: 100%;
  float:left;
}
#footer .menuFooter > ul > li{
  width:23%;
  display: inline;
  float:left;
  padding: 10px 0 0 0;
  font-size: 0.9em;
  font-family: Arial;
}
#footer .menuFooter > ul > li > ul{
  width: 100%;
  float:left;
}
#footer .menuFooter > ul > li > ul > li{
  display: block;
  padding: 10px 0 0 20px;
  float:left;
  font-size: 0.9em;
  width: 100%;
  margin-left: 0;
}
#footer .menuFooter > ul > li > ul > li.tituloMenu{
  font-size: 1.1em;
}
/* ==========================================================================
   Adaptações responsivas
   ========================================================================== */

/* Medium Devices, Desktops */
@media only screen and (max-width : 900px) {
  .wrap{
    width:100%;
  }
  #footer .logoFooter a{
    width: 100%;
    background:url(../img/logoFooter.png) no-repeat center;
  }
  #portal-header .logoNegocios, .acessibilidade{
    display:none;
  }
  #portal-header .divBusca{
    float: left;
    padding: 10px 0 0 25px;
  }
  #portal-searchbox .searchField{
    width: 105px;
  }
}

@media only screen and (max-width : 500px) {
  .wrap{
    width:100%;
  }
  #footer .menuFooter > ul > li{
    clear: both;
    width: 80%;
  }
  #footer .textoFooter{
    text-align: center;
    width: 100%;
    margin: 0;
  }
  #footer .footerBottom p.copyright{
    display:none;
  }
#footer .footerBottom .divProdam{
    float:none;
    margin: 0 auto;
    position: relative;
  }
  #footer .footerBottom .logoGrx{
    float:left;
    left: 30px;
    position: absolute;
  }
  .listaHome ul li{
    display: block;
    clear: both;
    width: 100%;
  }
  .listaHome ul li a{
    margin: 0 0 30px 0;
  }
  .listaHome ul li .item1, .listaHome ul li .item2, .listaHome ul li .item3{
    margin-left: 48px;
  }
}
.ui-autocomplete li{
  display: block;
  padding: 5px
}

/*CONTRASTE*/
body.contraste1, body.contraste1 #footer, body.contraste1 #footer .footerBottom, body.contraste1 #footer .textoFooter{
  background: #000 !important;
  color: #fff !important;
}
